
.widget-box {
    border: 1px solid #ddd;
    padding: 30px;
    margin-bottom: 30px;
}

input.form-control {
  border-radius: 15px!important;
  background-color: #ddd;
  border: 1px solid #ddd;
  padding-left: 3.375rem;
}

input.search-input {
  width: -webkit-fill-available
}

.form-inline .form-control-feedback {
   position: relative;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #333;
    top: -40px;
    left: 10px;
}

.widget-box .filter-list-box {
  height: 85%; 
  width: 100%; 
  overflow: auto;
}
.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,.075);
  cursor: pointer;
}

.table-hover tbody tr.selected {
      background-color: rgba(3, 49, 74, 0.88);
    cursor: pointer;
    color: white;
}
